includes:
    - vendor/coreshop/test-setup/phpstan.neon

parameters:
    excludePaths:
        - 'src/lib/Pim/AdminerPlugins.php'
        - 'src/lib/Pim/Helper.php'
        - 'src/Controller/DefaultController.php'

    ignoreErrors:
        - '/Constant PIMCORE_COMPOSER_PATH not found./'